body {
  margin: 0;
  font-family: Arial;
  background: #0b1220;
  color: #e0e6ed;
}

main  { 
flex: 1;
}

.navbar {
  background: #060b17;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
  background: linear-gradient(135deg, #1e90ff, #2ecc71);
  padding: 8px 14px;
  border-radius: 8px;
}

.hero {
  text-align: center;
  padding: 70px;
}

.blue { color: #1e90ff; }
.green { color: #2ecc71; }

.btn {
  padding: 12px 20px;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  margin: 10px;
}

.blue-btn { background: #1e90ff; }
.green-btn { background: #2ecc71; }

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  background: #121a2f;
  padding: 25px;
  width: 200px;
  border-radius: 12px;
  text-align: center;
}

.form-card {
  background: #121a2f;
  width: 300px;
  margin: 100px auto;
  padding: 25px;
  border-radius: 12px;
}

input, button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

button {
  background: linear-gradient(135deg, #1e90ff, #2ecc71);
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}


.dashboard {
  display: flex;
  gap: 30px;
  padding: 40px;
}

table {
  width: 70%;
  margin: auto;
  border-collapse: collapse;
}

th, td {
  padding: 12px;
  border-bottom: 1px solid #2ecc71;
}

footer {
  text-align: center;
  padding: 1.00rem;
  font-size: 1.00rem;
  color: #6b7280;
  border-top: 1px solid #111827;
  background: #020617;
}

